* {
  margin: 0px;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  color: #011627;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none;
  color: white; }

span {
  color: #FF9F1C; }

.scroll-to {
  cursor: pointer; }

h1 {
  font-size: 3em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 20px; }

h3 {
  font-size: 2em; }

button {
  color: #2EC4B6;
  background-color: transparent;
  border: 2px #2EC4B6 solid;
  padding: 15px;
  font-size: 1.1em;
  transform: scale(1); }

button:hover {
  text-decoration: underline;
  color: white;
  border: 2px #2EC4B6 solid;
  background: #2EC4B6;
  transform: scale(1.1);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 30;
  position: fixed;
  width: 100%;
  height: 70px;
  color: white; }
  @media all and (max-width: 960px) {
    nav {
      display: none; } }
  nav .phone {
    display: inline-block;
    text-align: center;
    padding-top: 25px;
    padding-left: 20px;
    justify-content: space-between;
    font-size: 1.3em;
    color: #2EC4B6; }
  nav .brand {
    padding-top: 20px;
    padding-left: 20px;
    flex-shrink: 3;
    flex-grow: 3;
    flex-basis: auto;
    font-size: 2em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    nav .brand .logo {
      background: transparent url("images/logo-micar.svg") no-repeat;
      width: 50px;
      height: 50px;
      margin-left: 10px; }
    nav .brand .blue-span {
      color: #2EC4B6; }
    nav .brand a {
      text-decoration: none;
      color: white; }
  nav ul {
    margin-right: 50px; }
    nav ul li {
      display: inline-block;
      text-align: center;
      padding-top: 30px;
      padding-left: 20px;
      justify-content: space-between; }
      nav ul li a {
        color: white;
        text-decoration: none; }
      nav ul li a:hover {
        text-decoration: underline;
        color: #FF9F1C; }
    nav ul li::after {
      content: "/";
      padding-left: 20px; }
    nav ul li:nth-of-type(3n)::after {
      display: none;
      padding-left: 20px; }

.nav-visible {
  background-color: rgba(1, 22, 39, 0.9);
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  -moz-transition: all 0.6s linear;
  transition: all 0.6s linear; }

.nav-hidden {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.4 linear;
  -o-transition: all 0.4 linear;
  -moz-transition: all 0.4 linear;
  transition: all 0.4 linear; }

.visible {
  opacity: 1;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; }

.hidden {
  opacity: 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; }

.masthead {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(1, 22, 39, 0.5) url("images/masthead2-compressed.jpg");
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .masthead {
      /* IE10+ CSS styles go here */
      background: #011627 url("images/masthead2-compressed.jpg");
      background-color: #011627; } }
  .masthead .info-1 {
    display: block; }
  .masthead .info-2 {
    display: none; }
  .masthead .masthead-info {
    font-size: 1.2em;
    z-index: 20;
    line-height: 1.2em; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .masthead .masthead-info {
        /* IE10+ CSS styles go here */
        margin-top: 100px; } }
    @media all and (min-width: 800px) {
      .masthead .masthead-info {
        max-width: 60%; } }
    @media all and (max-width: 600px) {
      .masthead .masthead-info {
        max-width: 90%; } }
    .masthead .masthead-info h1 {
      top: 50%;
      font-weight: bolder;
      text-shadow: 2px 2px 2px #011627;
      margin-bottom: 20px;
      line-height: 1em;
      font-size: 4em;
      margin-left: auto;
      margin-right: auto;
      min-height: 200px; }
      @media all and (max-width: 600px) {
        .masthead .masthead-info h1 {
          font-size: 2.5em; } }
    .masthead .masthead-info p {
      margin-left: auto;
      margin-right: auto;
      width: 70%; }
      .masthead .masthead-info p span {
        color: #2EC4B6; }
    .masthead .masthead-info button {
      min-width: 200px;
      margin-top: 40px; }

.masthead::after {
  content: "";
  background-color: rgba(1, 22, 39, 0.7);
  width: 100%;
  height: 100%;
  position: absolute; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .masthead::after {
      /* IE10+ CSS styles go here */
      display: none; } }

.container {
  margin: 0px;
  width: 100%;
  min-height: 1200px; }
  .container .grid-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    max-width: 860px;
    margin-left: auto;
    margin-right: auto; }
  .container .fluid-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    min-height: 300px;
    flex-direction: column;
    padding: 20px;
    margin: 0px;
    padding-bottom: 80px; }
  .container .bg-dark {
    color: white;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s; }
  .container .lightUp {
    background: linear-gradient(#011627, #022440);
    background-position-y: 130px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s; }
  .container .lightDown {
    background: linear-gradient(#011627, #022440);
    background-position-y: 0px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s; }
  .container .partners {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center; }
    .container .partners .moved {
      transform: translateY(-10px);
      transition: all 0.5s linear; }
    .container .partners .moved-back {
      transform: translateY(0px);
      transition: all 0.5s linear; }
    @media all and (max-width: 600px) {
      .container .partners {
        flex-direction: column; } }
    .container .partners .partner-element {
      margin: 10px;
      -webkit-box-flex: 0 1 auto;
      -moz-box-flex: 0 1 auto;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      flex-basis: 20%;
      max-width: 200px;
      padding: 20px;
      text-align: left; }
      .container .partners .partner-element p {
        line-height: 1.3em; }
      .container .partners .partner-element h1 {
        font-size: 2em; }
        .container .partners .partner-element h1 span {
          color: #2EC4B6; }
    .container .partners .partner-element::before {
      content: "";
      height: 200px;
      width: 2px;
      position: absolute;
      left: 0px;
      background-color: #2EC4B6; }
  .container .sub-header {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px; }
  .container .services, .container .about {
    margin-bottom: 50px; }
  .container .skills {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px; }
    @media all and (max-width: 600px) {
      .container .skills {
        flex-direction: column; } }
    .container .skills .skill-item {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-box-flex: 0 1 auto;
      -moz-box-flex: 0 1 auto;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      text-align: left;
      flex-basis: 33%;
      padding: 10px; }
      .container .skills .skill-item h3 {
        font-weight: bold;
        font-size: 1.8em;
        margin-top: 20px;
        margin-bottom: 20px; }
      .container .skills .skill-item h3::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #2EC4B6;
        display: block;
        margin-bottom: 20px; }
      .container .skills .skill-item span {
        color: #249b90; }
      .container .skills .skill-item .thumbnail {
        margin-left: auto;
        margin-right: auto;
        font-size: 6em;
        color: #011627; }
        .container .skills .skill-item .thumbnail svg {
          display: block;
          margin-left: auto;
          margin-right: auto;
          transform-origin: 50%;
          transform: rotate(0deg); }
          .container .skills .skill-item .thumbnail svg .blue-path {
            transform: rotate(0deg);
            transform-origin: center;
            stroke: #011627;
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            -moz-transition: all 1s;
            transition: all 1s; }
          .container .skills .skill-item .thumbnail svg .blue-path-hover {
            stroke: #2EC4B6;
            -webkit-transition: all 2s;
            -o-transition: all 2s;
            -moz-transition: all 2s;
            transition: all 2s; }
          .container .skills .skill-item .thumbnail svg .light-path {
            transform-origin: center;
            stroke: #2EC4B6; }
          .container .skills .skill-item .thumbnail svg .shape-path {
            fill: #011627;
            transform-origin: center;
            transform: rotate(0deg);
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            -moz-transition: all 1s;
            transition: all 1s; }
          .container .skills .skill-item .thumbnail svg .shape-path-hover {
            transform: rotate(360deg);
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            -moz-transition: all 1s;
            transition: all 1s; }

.container::before {
  content: "";
  width: 100%;
  height: 5px;
  background: linear-gradient(45deg, #FF9F1C, #ca6c00);
  display: block; }

.map {
  width: 100%;
  height: 600px;
  background-color: #011627; }

.footer {
  width: 100%;
  height: 100px;
  background-color: #011627;
  text-align: center; }
  .footer p {
    color: white;
    padding-top: 40px; }
  .footer .author {
    font-size: 1em;
    padding: 5px;
    margin: 0px;
    color: #044e8a; }
    .footer .author a {
      color: #FF9F1C; }
  .footer .footer-logo {
    background: transparent url("images/logo-micar.svg") no-repeat;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 20;
    left: 80px;
    margin-top: -30px; }
    @media all and (max-width: 600px) {
      .footer .footer-logo {
        display: none; } }

.footer::before {
  content: "";
  width: 100%;
  height: 5px;
  background: linear-gradient(45deg, #FF9F1C, #ca6c00);
  display: block; }

.footer-gradient-visible {
  background: linear-gradient(90deg, #022440, #011627); }

/*# sourceMappingURL=style.css.map */
