$primary-color: rgba(1, 22, 39, 1);
$blue: #2EC4B6;
$orange: #FF9F1C;



@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  @mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }

  @mixin transition($values) {
      -webkit-transition: $values;
      -o-transition: $values;
      -moz-transition: $values;
      transition: $values;
  }


* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $primary-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: white;
}

span {
    color: $orange;
}

.scroll-to {
    cursor: pointer;
}


h1 {
    font-size: 3em;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}

h3 {
    font-size: 2em;
}

button {
    color: $blue;
    background-color: transparent;
    border: 2px $blue solid;
    padding: 15px;
    font-size: 1.1em;
    transform: scale(1);
}


button:hover {
    text-decoration: underline;
    color: white;
    border: 2px $blue solid;
    background: $blue;
    transform: scale(1.1);
    // transition: all 0.3s;
    @include transition(all 0.3s);
}

nav {
    @include flexbox();
    z-index: 30;
    position: fixed;
    width: 100%;
    height: 70px;
    color: white;

    @media all and(max-width: 960px) {
        display: none;
    }

  

    .phone {
        display: inline-block;
            text-align: center;
            padding-top: 25px;
            padding-left: 20px;
            justify-content: space-between;
            font-size: 1.3em;
            color: $blue;
    }
    .brand {
        padding-top: 20px;
        padding-left: 20px;
        flex-shrink: 3;
        flex-grow: 3;
        flex-basis: auto;
        font-size: 2em;
        @include flexbox();

        .logo {
            background: transparent url("images/logo-micar.svg") no-repeat;
            width: 50px;
            height: 50px;
            margin-left: 10px;
            
        }
        
        .blue-span {
            color: $blue;
        }
        a {
            text-decoration: none;
            color: white;
        }
    }
    ul {
        margin-right: 50px;
        li {
            display: inline-block;
            text-align: center;
            padding-top: 30px;
            padding-left: 20px;
            justify-content: space-between;
            a {
                color: white;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
                color: $orange;
            }
            
           
        }
        li::after {
            content: "/";
            padding-left: 20px;
            
        }
        li:nth-of-type(3n)::after {
            display: none;
            padding-left: 20px;

        }
    }
}

.nav-visible {
    background-color: transparentize($primary-color, 0.1);
    @include transition(all 0.6s linear);
}

.nav-hidden {
    background-color: rgba(0, 0, 0, 0);
    @include transition(all 0.4 linear);
    
}

.visible {
    opacity: 1;
    @include transition(all 1s);

}
.hidden {
    opacity: 0;
    @include transition(all 1s);
}

.masthead {
    width: 100%;
    min-height: 100vh;
    @include flexbox();
    align-items: center;
    justify-content: center;
    background: transparentize($primary-color, 0.5) url("images/masthead2-compressed.jpg");
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        
        background: $primary-color url("images/masthead2-compressed.jpg");
        background-color: $primary-color;
        // opacity: 0.5;
        }


    .info-1 {
        display: block;
    }
    .info-2 {
        display: none;
    }
    .masthead-info {
        font-size: 1.2em;
        z-index: 20;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            /* IE10+ CSS styles go here */
            margin-top: 100px;
            
            }
        
        @media all and (min-width: 800px) {
            max-width: 60%;
        }
        @media all and(max-width: 600px) {
            max-width: 90%;
        }

        h1 {
            top: 50%;
            font-weight: bolder;
            text-shadow: 2px 2px 2px $primary-color;
            margin-bottom: 20px;
            line-height: 1em;
            font-size: 4em;
            margin-left: auto;
            margin-right: auto;
            min-height: 200px;
            @media all and(max-width: 600px) {
                font-size: 2.5em;
            }
       
        }
        

        
        p {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            
            span {
                color: $blue;
            }
        }
        button {
            min-width: 200px;
            margin-top: 40px;
        }
        line-height: 1.2em;

        

    }
}

.masthead::after {
    content: "";
    background-color: transparentize($primary-color, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        display: none;
        }
}

.container {
    margin: 0px;
    width: 100%;
    min-height: 1200px;
    
    .grid-container {
        @include flexbox();
        flex-direction: column;
        max-width: 860px;
        margin-left: auto;
        margin-right: auto;
        
    }
    .fluid-container {
        @include flexbox();
        width: 100%;
        min-height: 300px;
        flex-direction: column;
        padding: 20px;
        margin: 0px;
        padding-bottom: 80px;
        
    }

    .bg-dark {
        color: white;
        @include transition(all 1s);
        
    }
    .lightUp {
        background: linear-gradient($primary-color, lighten($primary-color,5));
        background-position-y: 130px;
        @include transition(all 1s);
        
    }
    .lightDown {
        background: linear-gradient($primary-color, lighten($primary-color,5));
        background-position-y: 0px;
        @include transition(all 1s);
        
    }


    .partners {
        @include flexbox();
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        
        justify-content: center;
        

        .moved {
            transform: translateY(-10px);
            transition: all 0.5s linear;
        }
        .moved-back {
            transform: translateY(0px);
            transition: all 0.5s linear;
        }
        @media all and (max-width: 600px){
            flex-direction: column;
            

           }
        
        .partner-element {
            margin: 10px;
            @include flex(0 1 auto);
            flex-basis: 20%;
            max-width: 200px;
            padding: 20px;
            text-align: left;
            p {
                line-height: 1.3em;

            }
            h1{
                font-size: 2em; 
                span {
                    color: $blue;
                }
            }
           
        }
        .partner-element::before {
            content: "";
            height: 200px;
            width: 2px;
            position: absolute;
            left: 0px;
            
            background-color: $blue;
           
        }
        
    }
    .sub-header {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .services, .about {
        margin-bottom: 50px;
    }
    .skills {
        @include flexbox();
        flex-direction: row;
        margin-bottom: 25px;
        
        @media all and (max-width: 600px){
            flex-direction: column;
            

           }
       
        .skill-item {
            @include flexbox();
            flex-direction: column;
            @include flex(0 1 auto);
            text-align: left;
            flex-basis: 33%;     // text-justify: auto;
            padding: 10px;
            
            
            h3 {
                font-weight: bold;
                font-size: 1.8em; // text-justify: newspaper;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            h3::before {
                content: "";
                width: 100%;
                height: 2px;
                background-color: $blue;
                display: block;
                margin-bottom: 20px;
            }
            span {
                color: darken($blue,10%);
            }
            .thumbnail {
                margin-left: auto;
                margin-right: auto;
                font-size: 6em;
                color: $primary-color;
                svg {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    transform-origin: 50%;
                    transform: rotate(0deg);
                    .blue-path {
                        transform: rotate(0deg);
                        transform-origin: center;
                        stroke: $primary-color;
                        @include transition(all 1s);
                    }
                    .blue-path-hover {
                        stroke: $blue;
                        @include transition(all 2s);
                    }

                    .light-path {
                        transform-origin: center;
                        stroke: $blue;
                    }
                    
                    .shape-path {
                        fill: $primary-color;
                        transform-origin: center;
                        transform: rotate(0deg);
                        @include transition(all 1s);
                        
                    }
                    .shape-path-hover {
                        transform: rotate(360deg);
                        @include transition(all 1s);
                    }
                    
                }
                
            }
          
        }
    }
}

.container::before {
    content: "";
    width: 100%;
    height: 5px;
    background: linear-gradient(45deg, $orange, darken(rgb(253, 135, 0), 10%));
    display: block;
}

.map {
    width: 100%;
    height: 600px;
    background-color: $primary-color;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: $primary-color;
    text-align: center;
    p{
        color: white;
        padding-top: 40px;
    }
    .author {
        font-size: 1em;
        padding: 5px;
        margin: 0px;
        color: lighten($primary-color,20);
        a{
            color: $orange;
        }
    }

    .footer-logo {
        background: transparent url("images/logo-micar.svg") no-repeat;
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: 20;
     
        left: 80px;
        margin-top: -30px;
        @media all and (max-width: 600px){
            display: none;
        }
        
    }
}

.footer::before {
    content: "";
    width: 100%;
    height: 5px;
    background: linear-gradient(45deg, $orange, darken(rgb(253, 135, 0), 10%));
    display: block;
}

.footer-gradient-visible {
    background: linear-gradient(90deg, lighten($primary-color,5),$primary-color);
    
}





